* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: 0;
}

.title {
  height: 140px;
  background: no-repeat;
  background-image: url(./img/title.png);
  margin: 0 300px;
}

.pokemon-showcase {
  margin: 0 65px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  scrollbar-width: 0;
}

.pokemon-name {
  margin: 2rem;
}

.pokemon-card {
  height: 30vh;
  width: 30%;
  border: 1px solid black;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
