@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: 0;
  font-family: "Press Start 2P", cursive;
}

body {
  background: url(./img/pokeballs.png);
  background-size: 90px;
}

.title {
  height: 220px;
  background: no-repeat;
  background-size: cover;
  background-image: url(./img/title.png);
}

.pokemon-showcase {
  margin: 0 70px;
}
.pokemon-showcase {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: 0;
}

.pokemon-name {
  margin: 2rem;
  font-size: 16px;
}

.pokemon-card {
  height: 30vh;
  width: 33.33%;
  border: 1px solid black;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
